:root {
  --color-accent: oklch(35% 0.1 250);
}

html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1rem;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
}

nav a:hover {
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

.current {
  font-weight: bold;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.1em;  
}

input, textarea, button, select {
  font-family: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
  gap: 1em;
}

.projects article h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

.summary {
  text-align: center;
  font-style: italic;
  margin-bottom: 2rem;
}

section {
  border-top: 1px solid oklch(80% 3% 200);
  padding-block: 1rem;
}

time {
  color: oklch(45% 0% 0);
  font-variant-numeric: tabular-nums;
}

ul {
  padding-inline-start: 1.5rem;
  margin-top: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

section b {
  color: oklch(35% 0.1 250);
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}

/* Project Year Styling */
.project-year {
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
  color: gray;
  margin-top: 0.5rem;
}

/*SVG Pie Plot Styling */
#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

/* Legend Styling */
.legend {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1.5rem;

  border: 1px solid #ccc;
  padding: 1.5rem;
  margin: 2rem 0;

  list-style: none;
  background-color: #f9f9f9;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
  display: inline-block;
}

/* Layout Container */
.container {
  display: flex;
  align-items: center; 
  gap: 2rem;
}

/* Search Bar */
.searchBar {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Pie Chart Interactivity */

svg:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;
}

path.selected {
  fill: var(--color);
}